# ê´€ì„¸ì²­ ìˆ˜ì¶œì… ë¬´ì—­í†µê³„ ê°€ê³µ ë°ì´í„°

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print('Heello')

Heello

In [2]:
import os
csv_file_path = os.getenv("HOME")+'/aiffel/data_preprocess/data/trade.csv'
trade = pd.read_csv(csv_file_path)
trade.head()

          ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€  ê¸°íƒ€ì‚¬í•­
0  2015ë…„ 01ì›”  ì¤‘êµ­  116932.0  12083947.0  334522.0  8143271.0  3940676.0   NaN
1  2015ë…„ 01ì›”  ë¯¸êµ­   65888.0   5561545.0  509564.0  3625062.0  1936484.0   NaN
2  2015ë…„ 01ì›”  ì¼ë³¸   54017.0   2251307.0   82480.0  3827247.0 -1575940.0   NaN
3  2015ë…„ 02ì›”  ì¤‘êµ­   86228.0   9927642.0  209100.0  6980874.0  2946768.0   NaN
4  2015ë…„ 02ì›”  ë¯¸êµ­   60225.0   5021264.0  428678.0  2998216.0  2023048.0   NaN

## ê²°ì¸¡ì¹˜<br>
* ê²°ì¸¡ì¹˜ ë°ì´í„° ì œê±°<br>
* ê²°ì¸¡ì¹˜ ëŒ€ì²´<br>

In [3]:
print('ì „ì²´ ë°ì´í„° ê±´ìˆ˜:', len(trade))

ì „ì²´ ë°ì´í„° ê±´ìˆ˜: 199

In [4]:
trade.count()

ê¸°ê°„      199
êµ­ê°€ëª…     199
ìˆ˜ì¶œê±´ìˆ˜    196
ìˆ˜ì¶œê¸ˆì•¡    195
ìˆ˜ì…ê±´ìˆ˜    196
ìˆ˜ì…ê¸ˆì•¡    196
ë¬´ì—­ìˆ˜ì§€    195
ê¸°íƒ€ì‚¬í•­      0
dtype: int64

In [5]:
print('ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜')
len(trade)-trade.count()

ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜

ê¸°ê°„        0
êµ­ê°€ëª…       0
ìˆ˜ì¶œê±´ìˆ˜      3
ìˆ˜ì¶œê¸ˆì•¡      4
ìˆ˜ì…ê±´ìˆ˜      3
ìˆ˜ì…ê¸ˆì•¡      3
ë¬´ì—­ìˆ˜ì§€      4
ê¸°íƒ€ì‚¬í•­    199
dtype: int64

In [6]:
trade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ê¸°ê°„      199 non-null    object
 1   êµ­ê°€ëª…     199 non-null    object
 2   ìˆ˜ì¶œê±´ìˆ˜    196 non-null    float64
 3   ìˆ˜ì¶œê¸ˆì•¡    195 non-null    float64
 4   ìˆ˜ì…ê±´ìˆ˜    196 non-null    float64
 5   ìˆ˜ì…ê¸ˆì•¡    196 non-null    float64
 6   ë¬´ì—­ìˆ˜ì§€    195 non-null    float64
 7   ê¸°íƒ€ì‚¬í•­    0 non-null      float64
dtypes: float64(6), object(2)
memory usage: 12.6+ KB

In [7]:
# ê¸°íƒ€ì‚¬í•­ : ì „ë¶€ ê²°ì¸¡ì¹˜ = ì•„ë¬´ ì •ë³´ ì—†ëŠ” ì»¬ëŸ¼ >>DEL
trade = trade.drop('ê¸°íƒ€ì‚¬í•­', axis=1)
trade.head()

          ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€
0  2015ë…„ 01ì›”  ì¤‘êµ­  116932.0  12083947.0  334522.0  8143271.0  3940676.0
1  2015ë…„ 01ì›”  ë¯¸êµ­   65888.0   5561545.0  509564.0  3625062.0  1936484.0
2  2015ë…„ 01ì›”  ì¼ë³¸   54017.0   2251307.0   82480.0  3827247.0 -1575940.0
3  2015ë…„ 02ì›”  ì¤‘êµ­   86228.0   9927642.0  209100.0  6980874.0  2946768.0
4  2015ë…„ 02ì›”  ë¯¸êµ­   60225.0   5021264.0  428678.0  2998216.0  2023048.0

### ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ ì°¾ê¸° <br>
* DataFrame.isnull() : ë°ì´í„°ë§ˆë‹¤ ê²°ì¸¡ì¹˜ ì—¬ë¶€ True, False ë°˜í™˜<br>
* DataFrame.any(axis=1) : í–‰ì— í•˜ë‚˜ë¼ë„ Trueìˆìœ¼ë©´ True ì•„ë‹ˆë©´ Falseë°˜í™˜

In [8]:
trade.isnull()

        ê¸°ê°„    êµ­ê°€ëª…   ìˆ˜ì¶œê±´ìˆ˜   ìˆ˜ì¶œê¸ˆì•¡   ìˆ˜ì…ê±´ìˆ˜   ìˆ˜ì…ê¸ˆì•¡   ë¬´ì—­ìˆ˜ì§€
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
194  False  False  False  False  False  False  False
195  False  False  False  False  False  False  False
196  False  False   True   True   True   True   True
197  False  False   True   True   True   True   True
198  False  False   True   True   True   True   True

[199 rows x 7 columns]

In [9]:
trade.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
194    False
195    False
196     True
197     True
198     True
Length: 199, dtype: bool

In [10]:
trade[trade.isnull().any(axis=1)]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜  ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡  ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0   NaN  1141118.0  5038739.0   NaN
196  2020ë…„ 06ì›”  ì¤‘êµ­       NaN   NaN        NaN        NaN   NaN
197  2020ë…„ 06ì›”  ë¯¸êµ­       NaN   NaN        NaN        NaN   NaN
198  2020ë…„ 06ì›”  ì¼ë³¸       NaN   NaN        NaN        NaN   NaN

In [11]:
# 196, 97,98ì€ ëª¨ë“  ê¸ˆì•¡ì´ NaNì´ë¯€ë¡œ ì‚­ì œê°€ ë°”ëŒì§
# dropna : ê²°ì¸¡ì¹˜ ì‚­ì œ (how = all - ì „ë¶€ê²°ì¸¡ì¹˜ì¼ ê²½ìš° ì‚­ì œ, any - í•˜ë‚˜ë¼ë„ ê²°ì¸¡ì¹˜ì¼ ê²½ìš° ì‚­ì œ)
trade.dropna(how='all', subset=['ìˆ˜ì¶œê±´ìˆ˜', 'ìˆ˜ì¶œê¸ˆì•¡', 'ìˆ˜ì…ê±´ìˆ˜', 'ìˆ˜ì…ê¸ˆì•¡', 'ë¬´ì—­ìˆ˜ì§€'], inplace=True)
print("ğŸ‘½ It's okay, no biggie.")

ğŸ‘½ It's okay, no biggie.

In [13]:
trade.shape

(196, 7)

### ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

In [14]:
trade[trade.isnull().any(axis=1)]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜  ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡  ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0   NaN  1141118.0  5038739.0   NaN

index 191ê³¼ ê°™ì´ ìˆ˜ì¹˜í˜• ë°ì´í„°ë¥¼ ë³´ì™„í•  ë°©ë²•ì€ ë§ìŠµë‹ˆë‹¤.

1. íŠ¹ì • ê°’ì„ ì§€ì •í•´ì¤„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ê·¸ëŸ¬ë‚˜ ê²°ì¸¡ì¹˜ê°€ ë§ì€ ê²½ìš°, ëª¨ë‘ ê°™ì€ ê°’ìœ¼ë¡œ ëŒ€ì²´í•œë‹¤ë©´ ë°ì´í„°ì˜ ë¶„ì‚°ì´ ì‹¤ì œë³´ë‹¤ ì‘ì•„ì§€ëŠ” ë¬¸ì œê°€ ìƒê¸¸ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

2. í‰ê· , ì¤‘ì•™ê°’ ë“±ìœ¼ë¡œ ëŒ€ì²´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 1ë²ˆì—ì„œ íŠ¹ì • ê°’ìœ¼ë¡œ ëŒ€ì²´í–ˆì„ ë•Œì™€ ë§ˆì°¬ê°€ì§€ë¡œ ê²°ì¸¡ì¹˜ê°€ ë§ì€ ê²½ìš° ë°ì´í„°ì˜ ë¶„ì‚°ì´ ì‹¤ì œë³´ë‹¤ ì‘ì•„ì§€ëŠ” ë¬¸ì œê°€ ë°œìƒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

3. ë‹¤ë¥¸ ë°ì´í„°ë¥¼ ì´ìš©í•´ ì˜ˆì¸¡ê°’ìœ¼ë¡œ ëŒ€ì²´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ë¡œ 2020ë…„ 4ì›” ë¯¸êµ­ì˜ ì˜ˆì¸¡ê°’ì„ ë§Œë“¤ê³ , ì´ ê°’ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ë³´ì™„í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

4. ì‹œê³„ì—´ íŠ¹ì„±ì„ ê°€ì§„ ë°ì´í„°ì˜ ê²½ìš° ì•ë’¤ ë°ì´í„°ë¥¼ í†µí•´ ê²°ì¸¡ì¹˜ë¥¼ ëŒ€ì²´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ê¸°ì˜¨ì„ ì¸¡ì •í•˜ëŠ” ì„¼ì„œ ë°ì´í„°ì—ì„œ ê²°ì¸¡ì¹˜ê°€ ë°œìƒí•  ê²½ìš°, ì „í›„ ë°ì´í„°ì˜ í‰ê· ìœ¼ë¡œ ë³´ì™„í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [15]:
# 4ë²ˆ ë°©ë²•ìœ¼ë¡œ ë³´ì™„
trade.loc[[188,191,194]]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜       ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€
188  2020ë…„ 03ì›”  ë¯¸êµ­   97117.0  7292838.0  1368345.0  5388338.0  1904500.0
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0        NaN  1141118.0  5038739.0        NaN
194  2020ë…„ 05ì›”  ë¯¸êµ­  126598.0  4600726.0  1157163.0  4286873.0   313853.0

In [20]:
# indexë¡œ ì ‘ê·¼
# ìˆ˜ì¶œê¸ˆì•¡ (í‰ê· ) = (ì´ì „ë‹¬+ë‹¤ìŒë‹¬)/2
trade.loc[191,'ìˆ˜ì¶œê¸ˆì•¡'] = (trade.loc[188,'ìˆ˜ì¶œê¸ˆì•¡'] + trade.loc[194,'ìˆ˜ì¶œê¸ˆì•¡'])/2
trade.loc[[191]]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜       ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡  ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0  5946782.0  1141118.0  5038739.0   NaN

In [21]:
# ë¬´ì—­ìˆ˜ì§€ = ìˆ˜ì¶œ -ìˆ˜ì…
trade.loc[191, 'ë¬´ì—­ìˆ˜ì§€'] = trade.loc[191, 'ìˆ˜ì¶œê¸ˆì•¡'] - trade.loc[191, 'ìˆ˜ì…ê¸ˆì•¡'] 
trade.loc[[191]]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜       ìˆ˜ì¶œê¸ˆì•¡       ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡      ë¬´ì—­ìˆ˜ì§€
191  2020ë…„ 04ì›”  ë¯¸êµ­  105360.0  5946782.0  1141118.0  5038739.0  908043.0

In [59]:
# why not and??
[(trade['ê¸°ê°„']== '2019ë…„ 4ì›”') & (trade['êµ­ê°€ëª…']== 'ë¯¸êµ­')]

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 191    False
 192    False
 193    False
 194    False
 195    False
 Length: 196, dtype: bool]

# ì¤‘ë³µëœ ë°ì´í„°

In [54]:
# ì¤‘ë³µë°ì´í„° í™•ì¸
trade.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
191    False
192    False
193    False
194    False
195    False
Length: 196, dtype: bool

In [55]:
trade[trade.duplicated()]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€
187  2020ë…„ 03ì›”  ì¤‘êµ­  248059.0  10658599.0  358234.0  8948918.0  1709682.0

In [60]:
trade[(trade['ê¸°ê°„']=='2020ë…„ 03ì›”')&(trade['êµ­ê°€ëª…']=='ì¤‘êµ­')]

            ê¸°ê°„ êµ­ê°€ëª…      ìˆ˜ì¶œê±´ìˆ˜        ìˆ˜ì¶œê¸ˆì•¡      ìˆ˜ì…ê±´ìˆ˜       ìˆ˜ì…ê¸ˆì•¡       ë¬´ì—­ìˆ˜ì§€
186  2020ë…„ 03ì›”  ì¤‘êµ­  248059.0  10658599.0  358234.0  8948918.0  1709682.0
187  2020ë…„ 03ì›”  ì¤‘êµ­  248059.0  10658599.0  358234.0  8948918.0  1709682.0

### DataFrame.drop_duplicates ì´ìš© ì¤‘ë³µë°ì´í„° ì‚­ì œ

In [61]:
trade.drop_duplicates(inplace=True)
print("it's ok")

it's ok

In [62]:
df = pd.DataFrame({'id':['001', '002', '003', '004', '002'], 
                   'name':['Park Yun', 'Kim Sung', 'Park Jin', 'Lee Han', 'Kim Min']})
df

    id      name
0  001  Park Yun
1  002  Kim Sung
2  003  Park Jin
3  004   Lee Han
4  002   Kim Min

In [63]:
# subset : ì²˜ë¦¬í•  ì—´, keep : first or last ì œì™¸í•˜ê³  ì²˜ë¦¬
df.drop_duplicates(subset=['id'],keep='last')

    id      name
0  001  Park Yun
2  003  Park Jin
3  004   Lee Han
4  002   Kim Min

## ì´ìƒì¹˜ (Outlier)

ê°€ì¥ ë¨¼ì € ìƒê°í•´ ë³¼ ìˆ˜ ìˆëŠ” ê°„ë‹¨í•˜ê³  ìì£¼ ì‚¬ìš©ë˜ëŠ” ë°©ë²•ì€ í‰ê· ê³¼ í‘œì¤€í¸ì°¨ë¥¼ ì´ìš©í•˜ëŠ” z score ë°©ë²•ì…ë‹ˆë‹¤.
í‰ê· ì„ ë¹¼ì£¼ê³  í‘œì¤€í¸ì°¨ë¡œ ë‚˜ëˆ  z score
(
X
âˆ’
Î¼/
Ïƒ
)
ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤. ê·¸ë¦¬ê³  z scoreê°€ íŠ¹ì • ê¸°ì¤€ì„ ë„˜ì–´ì„œëŠ” ë°ì´í„°ì— ëŒ€í•´ ì´ìƒì¹˜ë¼ê³  íŒë‹¨í•©ë‹ˆë‹¤. ê¸°ì¤€ì„ ì‘ê²Œ í•˜ë©´ ì´ìƒì¹˜ë¼ê³  íŒë‹¨í•˜ëŠ” ë°ì´í„°ê°€ ë§ì•„ì§€ê³ , ê¸°ì¤€ì„ í¬ê²Œ í•˜ë©´ ì´ìƒì¹˜ë¼ê³  íŒë‹¨í•˜ëŠ” ë°ì´í„°ê°€ ì ì–´ì§‘ë‹ˆë‹¤.  
ì´ìƒì¹˜ë¥¼ íŒë‹¨í•œ ë’¤ ì–´ë–»ê²Œ í•´ì•¼ í• ê¹Œìš”?

1. ê°€ì¥ ê°„ë‹¨í•œ ë°©ë²•ìœ¼ë¡œ ì´ìƒì¹˜ë¥¼ ì‚­ì œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ìƒì¹˜ë¥¼ ì›ë˜ ë°ì´í„°ì—ì„œ ì‚­ì œí•˜ê³ , ì´ìƒì¹˜ë¼ë¦¬ ë”°ë¡œ ë¶„ì„í•˜ëŠ” ë°©ì•ˆë„ ìˆìŠµë‹ˆë‹¤.

2. ì´ìƒì¹˜ë¥¼ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ë°ì´í„°ê°€ ì ìœ¼ë©´ ì´ìƒì¹˜ë¥¼ ì‚­ì œí•˜ê¸°ë³´ë‹¤ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ê²ƒì´ ë‚˜ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ìµœëŒ“ê°’, ìµœì†Ÿê°’ì„ ì„¤ì •í•´ ë°ì´í„°ì˜ ë²”ìœ„ë¥¼ ì œí•œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

3. í˜¹ì€ ê²°ì¸¡ì¹˜ì™€ ë§ˆì°¬ê°€ì§€ë¡œ ë‹¤ë¥¸ ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ ì˜ˆì¸¡ ëª¨ë¸ì„ ë§Œë“¤ì–´ ì˜ˆì¸¡ê°’ì„ í™œìš©í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.

4. ì•„ë‹ˆë©´ binningì„ í†µí•´ ìˆ˜ì¹˜í˜• ë°ì´í„°ë¥¼ ë²”ì£¼í˜•ìœ¼ë¡œ ë°”ê¿€ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.

In [66]:
# abs(): ì ˆëŒ€ê°’
# z- score í•¨ìˆ˜ ë§Œë“¤ê¸°
# df[abs(df[col] - np.mean(df[col]))/np.std(df[col])>z].index: 
# ê°’ì´ zë³´ë‹¤ í° ë°ì´í„°ì˜ ì¸ë±ìŠ¤ë¥¼ ì¶”ì¶œ
def outlier(df, col, z):
    return df[abs(df[col]-np.mean(df[col]))/np.std(df[col]>z)].index
print("it's ok")

it's ok