# 추천 시스템

## 고전적 추천시스템

* 협업 필터링


대규모의 기존 **사용자 행동정보**를 분석하여 해당 사용자와 비슷한성향의 사용자들이 기존에 좋아했던 항목을 추천<br>
결과가 직관적, 기존자료 활용 필요(새로운 자료추가되면 추천 곤란문제-콜드스타트)<br>
계산량이 많음 - 사용자 수 많은 경우 효율적 추천 잘 안됨<br>
롱테일(long-tail)문제 - 사용자는 소수의 인기항목에만 관심 --비대칭적쏠림


**추천시스템 관리항목 많은경우, 협업필터링 한계

* 콘텐츠 기반 필터링


**항목자체**를 분석하여 추천을 구현(ex>음악자체를 분석후 유사음악추천)<br>
item profile - 항목분석<br>
user profile - 사용자선호도 추출 두항목의 유사성 계산<br>
콘텐츠 내용자체 분석 >>아이템분석알고리즘이 핵심(군집분석 - Clustering analysis, 인공신경망, tf-id(term frequency-inverse document frequency)등 사용)

**콜드스타트 문제해결, 다양한형식 항목 추천 어려움(각각항목에서 얻는정보 다르므로)<br>
ex)음악, 사진, 비디오 동시추천 힘드

## 모델기반 협력 필터링

기존 항목간 유사성비교에서 벗어나 자료안에 내재한 패턴을 이용하는 기법


-자료의 크기를 동적으로 변화<br>
-사용자가 특정항목을 선호하는 이유를 알고리즘적으로 알아내는 기법(잠재모델기반)

세부정보유추 >> 높은정확도로 항목추천가능 but 모델만드는데 많은계산필요(LDA, 베이지안네트웍)<br>
최근은 딥러닝기반기술 사용

## 추천 알고리즘과 필터버블

 추천 시스템은 정보를 추려서(filtering) 사용자에게 제공한다.
다시 말하면 사용자가 전체 정보를 볼 기회를 박탈당할 수도 있다는 말이다. 추천 시스템이 고도
화될수록 사용자의 입맛에 맞는 정보만 제공되고 나머지 정보는 감추어지는 위험이 생기는데, 이
러한 현상을 필터버블(filter bubble)이라고 한다

# 데이터 탐색과 전처리

In [1]:
import pandas as pd
import os

In [2]:
fname = os.getenv('HOME')+'/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id','artist_MBID','artist','play'] # 임의로 칼럼지정
data = pd.read_csv(fname, sep='\t',names=col_names) # sep='\t'해야 tsv열수 있음!!
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [3]:
# 사용하는 칼럼만 남김 artistid >>artist
using_cols = ['user_id','artist','play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
type(data.loc[0]['artist'])

str

In [5]:
data.loc[0,'artist']

'betty blowtorch'

In [6]:
# 검색쉽게하기위해 아티스트를 소문자로
data['artist'] = data['artist'].str.lower()
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [7]:
# 첫번째유저가 듣는 노래?
condition = data['user_id']==data.loc[0,'user_id']

In [8]:
data[condition] #data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

## 데이터 탐색

기본정보<br>
* 유저수, 아티스트수, 인기많은 아티스트<br>
* 유저들이 몇명의 아티스트를 듣고있는지 통계<br>
* 유저 play횟수 중앙값에 대한 통계

In [9]:
# 유저수
data['user_id'].nunique()

358868

In [10]:
len(set(data['user_id']))

358868

In [11]:
# 아티스트 수
data['artist'].nunique()

291346

In [12]:
artist_sum = data.groupby('artist')['play'].sum()

In [13]:
artist_sum.head()

artist
 04)]                                            6
 2                                            1606
 58725ab=>                                      23
 80li̇ yillarin türkçe sözlü aşk şarkilari      70
 amy winehouse                                  23
Name: play, dtype: int64

In [14]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()

In [15]:
artist_count.sort_values(ascending=False).head(10)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
Name: user_id, dtype: int64

In [16]:
# 유저별 몇명의 아티스트를 듣고 있는지에 대한 통계
# groupby뒤에 함수까지 붙어야 series로 나옴
user_count = data.groupby('user_id')['artist'].count()

In [17]:
type(user_count)

pandas.core.series.Series

In [18]:
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [19]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

## 모델검증을 위한 사용자 초기정보 세팅

* 나는 이걸 좋아한다.

In [20]:
# 본인이 좋아하는 아티스트 데이터 추가
my_favorite = ['black eyed peas', 'maroon5', 'jason mraz', 'coldplay', 'beyoncé']

# 'zimin'이라는 userid가 위 아티스트의 노래를 30회씩 들었다 가정
my_playlist = pd.DataFrame({'user_id':['zimin']*5, 'artist':my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any(): #any 적어도 한번
    data = data.append(my_playlist)

data.tail(10)

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

In [21]:
data[data.isin({'user_id':['zimin']})['user_id']]

  user_id           artist  play
0   zimin  black eyed peas    30
1   zimin          maroon5    30
2   zimin       jason mraz    30
3   zimin         coldplay    30
4   zimin          beyoncé    30

## 모델에 활용하기 위한 전처리(실습)

* user, artist에 번호부여 -  인덱싱

In [22]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 인덱싱하는 코드 idx는 index의 약자
user_to_idx = {v:k for k,v in enumerate(user_unique)} #인덱스번호와 리스트의 값
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [23]:
# 인덱싱 결과 확인
print(user_to_idx['zimin']) # 마지막유저니 마지막번호가 떠야함
print(artist_to_idx['black eyed peas'])

358868
376

In [24]:
# 인덱싱을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dict자료형의 get함수 https://wikidocs.net/16

# user_to_idx.get을 통해 user_id 컬럼의 모든값을 인덱싱한 series 구함
# 정상적으로 인덱싱 안된 row는 nan이 될테니 dropna()로 제거
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
# map(int, input().split())
# data['user_id'] iterable feature(list, seq)
# map(~~) function
if len(temp_user_data)==len(data): # 모든 row가 정상 인덱싱이면
    print('user_id_column indexing OK!')
    data['user_id']=temp_user_data #data['user_id']를 인덱싱된 series로 교체
else:
    print('user_id column indexing Fail!')
    
# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

user_id_column indexing OK!
artist column indexing OK!!

In [25]:
data

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

In [26]:
data.tail(10)

          user_id  artist  play
17535650   358867   11631    12
17535651   358867  140606    11
17535652   358867    1707    11
17535653   358867     243    10
17535654   358867     797    10
0          358868     376    30
1          358868  270115    30
2          358868    3746    30
3          358868      62    30
4          358868     396    30

## 사용자의 명시적/암묵적 평가

* 명시적평가 : 좋아요, 별점등 선호도를 명시적으로 나타냄
    

* 암묵적 평가 : 구매횟수, 재생횟수등 서비스 사용하며 발생하는 피드백

In [27]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}') #.2f or .2% 소수점 둘째까지 표시
# f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

한 번이라도 들었으면 선호한다고 판단한다.<br>
많이 재생한 아티스트에 대해 가중치를 주어서 더 확실히 좋아한다고 판단한다.

# Matrix Factorization (MF) ??

# CSR(Compressed Sparse Row)Matrix

* CSR Matrix는 Sparse한 matrix에서 0이 아닌 유효한 데이터로 채워지는 데이터의 값과 좌표 정보로만으로 구성하여 메모리 사용량을 최소화하면서도 Sparse한 matrix와 동일한 행렬을 표현할 수 있도록 하는 데이터 구조

In [28]:
# csr_matrix((data, (row_ind, col_ind)), [shape=(M, N)])  
# where data, row_ind and col_ind satisfy the relationship a[row_ind[k], col_ind[k]]
# = data[k]., M,N은 matrix의 shape

In [29]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play,(data.user_id, data.artist)), shape=(num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

## MF 모델 학습하기

* MF모델을 implict패키지를 사용하여 학습

implicit 패키지는 이전 스텝에서 설명한 암묵적(implicit) dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지입니다.
이 패키지에 구현된 als(AlternatingLeastSquares) 모델을 사용하겠습니다. Matrix Factorization에서 쪼개진 두 Feature Matrix를 한꺼번에 훈련하는 것은 잘 수렴하지 않기 때문에, 한쪽을 고정시키고 다른 쪽을 학습하는 방식을 번갈아 수행하는 AlternatingLeastSquares 방식이 효과적인 것으로 알려져 있습니다.

In [30]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

* AlternatingLeastSquares parameter

-1. factors : 유저와 아이템의 벡터 차원수<br>
-2. regulariization : 과적합 방지위해 정규화값 얼마나 사용<br>
-3. use_gpu : GPU사용할지<br>
-4. iterarions : epochs(몇번 반복학습)

In [31]:
#implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [32]:
# als모델은 input으로(item X user꼴의 matrix를 받기 때문에 Transpose해줌)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [33]:
# 모델훈련
als_model.fit(csr_data_transpose)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [34]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [35]:
zimin_vector

array([-0.31338733,  0.6169805 ,  0.0778364 ,  0.08826802,  0.1828444 ,
        0.114448  ,  0.05144209,  0.1680929 ,  0.03896901,  1.0170915 ,
        0.8165562 , -1.2037399 ,  0.10764709,  0.5505222 , -0.00973248,
       -0.6986406 , -0.08662222, -0.619154  ,  0.7511701 ,  1.1042953 ,
       -0.08081713,  0.4577356 ,  0.22727856, -0.45074445, -0.02499768,
        0.9027231 ,  0.63852024, -0.67713475, -0.0592442 ,  0.78024143,
       -0.7120704 , -0.5335698 ,  0.1684778 ,  0.3512987 ,  0.6869302 ,
        1.0067645 , -0.66876805,  0.5958105 , -0.13507757,  0.7950094 ,
       -0.6146895 , -1.5050046 ,  0.44809094, -0.14471374,  0.51875395,
        0.8550579 , -0.40583047, -0.1737718 , -0.37223145, -0.40973145,
        0.39773673, -0.5458483 ,  1.0757614 ,  0.8439742 , -0.7163008 ,
       -0.61110544,  0.32483578, -1.2445267 ,  1.0302082 , -0.18799168,
       -1.4947695 , -0.60039186,  0.424253  , -0.9522804 ,  0.07894234,
       -0.38502988,  0.22965953, -0.17790346, -0.06036779, -0.65314656,
        0.43386516,  0.26461798,  1.1020631 , -0.29220748, -0.64061356,
        0.46618995, -0.26633957, -0.12380215,  0.74196243,  1.4911485 ,
        0.2801447 ,  0.4494034 ,  0.56420964, -1.4551703 , -1.1261898 ,
       -0.20715638, -0.610137  ,  0.50077057,  1.3461512 ,  0.53483856,
       -0.58890784,  0.2535692 , -0.7502232 ,  0.35387138,  0.19162907,
       -0.659491  , -0.6899538 ,  0.7455341 ,  0.717274  , -0.845305  ],
      dtype=float32)

In [36]:
black_eyed_peas_vector

array([ 8.79989751e-03,  1.28073189e-02,  5.59929386e-03, -4.31716861e-03,
        1.16344569e-02,  9.37395915e-03,  1.69380456e-02,  7.22866505e-04,
       -1.02857780e-02,  2.31116153e-02,  1.78217925e-02, -5.03745869e-05,
       -9.63742938e-03,  5.63268969e-03,  1.07528949e-02,  3.36244050e-03,
        7.76425377e-03,  7.92544708e-03,  2.58130059e-02,  2.72295512e-02,
       -3.08194198e-03,  1.34299640e-02,  1.73794534e-02, -1.08766342e-02,
        1.43921208e-02,  1.24688512e-02,  5.76784089e-03, -1.12582324e-02,
        9.92816873e-03,  2.17804685e-02, -8.17479845e-03,  8.25903006e-03,
       -5.50076179e-03,  2.18523387e-03,  6.80293655e-03,  9.98461246e-03,
       -2.95698224e-03,  2.30054967e-02,  9.04665049e-03, -4.19512205e-03,
       -1.77626237e-02, -8.22702702e-03,  1.52519802e-02,  5.72290597e-03,
        1.63226388e-02,  1.99219100e-02,  1.03266407e-02,  1.86525118e-02,
        8.06972291e-03,  2.11335224e-04,  6.46017119e-03, -1.95535086e-02,
        1.33338012e-02,  2.50584222e-02, -5.10035222e-03,  4.45485068e-03,
        1.97475986e-03, -2.77860858e-03,  1.32425958e-02,  8.44201818e-03,
       -1.89526826e-02, -1.33181093e-02,  1.60584375e-02, -5.78921800e-03,
        2.19897125e-02, -1.91363809e-03,  3.64639866e-03, -2.51538772e-03,
        1.55569566e-02, -5.69847040e-03,  7.09924102e-03,  1.67560410e-02,
        1.88808404e-02,  1.02484524e-02, -3.14649800e-03,  8.24065786e-03,
       -3.21458257e-03,  5.89650637e-03,  1.92177966e-02,  3.60897332e-02,
        7.69058708e-03,  3.14498581e-02,  1.29432790e-02,  1.04803005e-02,
       -1.12043042e-02,  1.53041370e-02, -1.44487340e-03,  1.15364324e-02,
        1.14495978e-02,  2.82784365e-02, -1.99272064e-03,  1.56618096e-02,
        1.29844956e-02,  1.53342271e-02,  4.43132129e-03,  2.62879417e-03,
       -1.12451497e-03,  2.39382852e-02,  9.00132861e-03,  6.39576139e-03],
      dtype=float32)

In [37]:
# zimin과 black_eyed_peas를 내적하는 코드
# np.dot 행렬곱
np.dot(zimin_vector, black_eyed_peas_vector)

0.51085156

In [38]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.29703993

## 비슷한 아티스트 찾기+유저에게 추천하기

In [39]:
#simililar_items메서드 이용
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0000001),
 (277, 0.9892191),
 (28, 0.9834946),
 (5, 0.9804581),
 (217, 0.9768535),
 (247, 0.9684682),
 (473, 0.96650505),
 (490, 0.9659414),
 (418, 0.9608941),
 (694, 0.9576999),
 (1018, 0.9554362),
 (910, 0.95524526),
 (268, 0.952048),
 (782, 0.94870555),
 (55, 0.94482905)]

In [41]:
# (id, 유사도)Tuple의 id를 다시 이름으로 매핑
# artist_to_idx를 뒤집어, index로부터 artist이름을 얻는 dict생성
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'the beatles',
 'placebo',
 'oasis',
 'u2',
 'foo fighters',
 'the smashing pumpkins',
 'nirvana',
 'pink floyd',
 'the white stripes',
 'arctic monkeys']

In [42]:
# 함수화
def get_similar_artist(artist_name:str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print('슝=3')

슝=3

In [43]:
get_similar_artist('2pac')

['2pac',
 'notorious b.i.g.',
 'jay-z',
 'the game',
 'nas',
 '50 cent',
 'dr. dre',
 'ludacris',
 'snoop dogg',
 'busta rhymes']

In [44]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'justin timberlake',
 'kelly clarkson',
 'leona lewis']

## 유저에게 아티스트 추천하기

In [49]:
# recommend 메소드 통해 자신이 좋아할만한 아티스트 추천받기
# filter_already_liked_items : 이미 평가한 아이템은 제외
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받는다
artist_recommend = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommend

[(350, 0.45499775),
 (369, 0.44989416),
 (550, 0.4455741),
 (627, 0.44532368),
 (274, 0.42899984),
 (1800, 0.4104734),
 (409, 0.4094287),
 (2249, 0.40773654),
 (355, 0.40671515),
 (354, 0.39922976),
 (391, 0.39600548),
 (564, 0.3879347),
 (434, 0.38688397),
 (901, 0.3789435),
 (5555, 0.3708169),
 (382, 0.3612324),
 (1777, 0.35190514),
 (899, 0.3499356),
 (618, 0.3459688),
 (724, 0.34553295)]

In [50]:
[idx_to_artist[i[0]] for i in artist_recommend]

['rihanna',
 'justin timberlake',
 'britney spears',
 'maroon 5',
 'michael jackson',
 'lady gaga',
 'amy winehouse',
 'katy perry',
 'madonna',
 'nelly furtado',
 'christina aguilera',
 'kanye west',
 'eminem',
 'pink',
 'timbaland',
 'mika',
 'mariah carey',
 'kylie minogue',
 'the pussycat dolls',
 'lily allen']

In [51]:
# explain메소드 : 기록을 남긴 데이터중 이 추천에 기여한 정도 확인 가능
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [53]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.22134766372021072),
 ('black eyed peas', 0.13582979395338735),
 ('jason mraz', 0.05869628908162946),
 ('coldplay', 0.0427631133530596),
 ('maroon5', -0.00042927587312248334)]